body {
	font-family: font-family: Verdana, Helvetica, Sans-Serif;
}

img {
	border: 0px;
}

.link {
	cursor: pointer;
}

.hide {
	display: none;
}

/* ****************************************************** PLAYER */
#player {
	float: left;
	clear: both;
	width: 100%;
	line-height: 2em;
}


#player_buttons {
	float: left;
}

#title {
	float: left;
	margin-left: 1em;
	font-size: 1.7em;
	font-weight: bold;
}

#artist {
	float: left;
	margin-left: 0.7em;
	font-size: 1.1em;
}

#album {
	float: left;
	margin-left: 0.3em;
	font-size: 1.1em;
}

#title {
	float: left;
	margin-left: 0.7em;
}

#time {
	float: right;
	clear: right;
	margin-right: 1em;
}

/* ****************************************************** END PLAYER */


/* ****************************************************** PLAYLIST */


#playlist, #library {
	float: left;
	clear: both;
	width: 100%;
	line-height: 2em;
}

.line {
	clear: both;
	width: 100%;
	display: table;
	background: white;
	font-style: normal;
}
.line:focus, .line:hover { 
	font-style: italic;
	color: #f80; 
}

#track_number {
	width: 2%;
	display: table-cell;
}

#track_title {
	width: 27%;
	display: table-cell;
}

#track_genre {
	width: 5%;
	display: table-cell;
}

#track_artist {
	width: 15%;
	display: table-cell;
}

#track_album {
	width: 25%;
	display: table-cell;
}

#track_duration {
	width: 5%;
	display: table-cell;
}

#track_actions {
	width: 15%;
	display: table-cell;
}

/* ****************************************************** END PLAYLIST */

/* ****************************************************** TABS */

#tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: white;
	float: left;
	width: 100%;
}

#tabs li {
	float: left;
	margin: 0 1em 0 0;	
}

#tabs li span {
	text-decoration: none;
	display: block;
	width: 6em;
	padding: 0 0.5em;
	font-weight: bold;
	color: black;
	border-bottom: 0.5em solid #fc6;
	color: #fc6;
	cursor: pointer;
}


#tabs li span:hover {
	color: #fa3;
	border-color: #fa3;
}


#content {
	border-top: 1px solid  #fc6;
	clear: both;
	padding: 0.7em;
}


#tabs .selected {
	color: #f80;
	border-color: #f80;
	position: relative;
	top: 1px;
}

/* ****************************************************** END TABS */


/* ****************************************************** LIBRARY BROWSING */

.library_previous {
	float: left;
	clear: left;
	width: 10%;
}

.library_status {
	position: relative;
	float: left;
	text-align: center;
	width: 80%;
}

.library_next {
	float: left;
	clear: right;
	width: 10%;
}

#go_next_top {
	float: right;
}

#go_next {
	float: right;
}

/* ****************************************************** END LIBRARY BROWSING */

/* ****************************************************** SEARCH */

#search {
	float: left;
	clear: both;
	width: 100%;
	line-height: 2em;
}

#search_filter {
	border: 1px solid grey;
	width: 70%;
}

#search_filter:hover {
	border: 1px solid blue;
}

#do_search {
	vertical-align: middle;
	cursor: pointer;
}

.searchfor {
	float: left;
	font-weight: bolder;
}

.cell {
	float: left;
	margin-left: 1em;
}

.prop {
	float: left;
	font-weight: bold;
}

.value {
	float: left;
	font-style: italic;
}

/* ****************************************************** END SEARCH */
